@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #352F44;
  --foreground: #FAF0E6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, #352F44, #5C5470);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button:hover {
  transform: translate(-0.10rem, -0.10rem);
  box-shadow: 0.30rem 0.30rem #FAF0E6;
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}
